@use "../utils/variables" as *;
@use "../utils/mixins";

.header {
    height: 90px;
    margin: 20px;
    padding: auto;
    border: 20px;
    background-color: map-get($colors, "header-bg");
    border-radius: 2px;
    color: map-get($colors,"white");
}

.header__nav {

    padding: 20px;
    display: flex;
}

.header__link a {

    color: map-get($colors, "light-gray");
    font-size: 17px;
}
