@use "../utils/variables" as *;
@use "../utils/mixins";


.main-container {

    background-image: url(/assets/img/pngegg\ \(3\).png);
    background-position: top;
    background-size: 35%;
    background-repeat: no-repeat;
    padding: 20px;


}

.content {
    background-color: map-get($colors, "light-gray");
    text-align: center;
    border: 20px;
    height: 200px;
    padding: 20px;

}
