@use "../utils/variables" as *;
@use "../utils/mixins";


.main-container {

    background-position: top;
    background-repeat: no-repeat;
    padding: 20px;

}

.content {

    background-image: url(https://wallpapers.com/images/high/trippy-hippie-ouwrt9b5b5umtebj.webp);
    background-repeat:initial;
    text-align: center;
    border: 20px;
    height: 180px;
    padding: 20px;
}

.content__tex {

    background-color: rgba(250, 235, 215, 0.623);
}
